<% include ./partials/header.ejs %>
 <div class="profile w-full min-h-screen bg-zinc-800 text-white">
    <div class="w-32 h-32 bg-zinc-200 rounded-full"></div>
    <h1 class="text-3xl font-semibold">Himanshu Yadav</h1>
 </div>
<% include ./partials/footer.ejs %>